body {
  background-color: #fffeff;
}

h1,
h2,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #898689;
}

h1 {
  font-weight: 400;
  margin-bottom: 0;
}

span {
  color: #5b87d7;
}

input[type="search"] {
  width: 75%;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d8d2d8;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #0879f9;
  color: #fffeff;
  border: 1px solid #0879f9;
  border-radius: 5px;
}
.container {
  width: 70%;
  border: 1px solid #bab6ba;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #fffeff;
  margin-top: 40px;
}

.date {
  margin-top: 0;
  font-weight: 400;
}

.temp {
  display: flex;
}

.celsius {
  font-size: 70px;
  margin: 0;
  color: #464444;
}

.temp-info {
  margin-left: 60px;
}

.degrees {
  font-size: 18px;
  margin-top: 20px;
  color: #464444;
}
